.card-container {
    margin-top: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.country-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 1em 0;
}

@media only screen and (max-width: 768px) {
    .card-container {
        grid-template-columns: unset;
    }

    .country-info {
        margin: unset;
        /* justify-content: center; */
    }
}
