.card-container {
    margin-top: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.country-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1em 0;
}
